//fonts
$main: 'Roboto', sans-serif;
$mono: 'Lucida Console', Monaco, monospace;

//toggle classes
.hidden {
  display: none !important;
}

//format override classes
.inline {
  display: inline-block;
}

.center {
  text-align: center;
}
